body {
    font-family: arial,sans-serif;
    font-size: 12px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.justifyright {
    justify-content: flex-end;
}

li {
    margin: 15px;
}

.padding {
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
}